* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Merriweather, serif;
}
/* ascunde sagetile de la number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* logo + navbar background color */
.logo,
.navbar {
  background-color: #541213;
}

/* navbar start */
.navbar-text {
  color: #541213;
}

.navbar-text:hover {
  background-color: #541213;
  color: #fff;
}

/* container to go - bauturi calde -  vitrine snack */
.container-automate {
  margin-top: 3%;
}

.container-logo-titlu {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.container-titlu {
  font-variant: small-caps;
  font-weight: bold;
  color: #541213;
}

.container-content {
  display: flex;
  flex-flow: row wrap;
  gap: 10%;
  justify-content: space-around;
  margin-left: 14%;
  margin-right: 14%;
}

figcaption {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bold;
  color: #541213;
}

figure img {
  width: 120px;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.buton {
  width: 180px;
  padding: 2%;
  background-color: #541213;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  color: #fff;
}

.buton:hover {
  background-color: #6f1314;
  color: #fff;
}

.block {
  display: block;
}

/* footer start */
footer {
  display: flex;
  flex-flow: row wrap;
  background-color: #541213;
  color: #fff;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  color: #fff;
}

footer p:first-child {
  font-weight: bold;
}

/* revizie tehnica - termeni si conditii - despre noi  */
.titlu-pagina {
  font-weight: bold;
  color: #541213;
}

.lista {
  padding: 10%;
}

.lista ul {
  list-style: none;
}

.lista ul li::before {
  content: "\2022";
  color: #541213;
  font-size: 1.5em;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.container-revizie-tehnica {
  display: flex;
  flex-flow: row wrap;
}

.container-noi {
  text-align: justify;
}
.container-noi img {
  float: left;
  width: 25%;
  margin-right: 5%;
}

.poza img {
  max-width: 250px;
}

/* contact */
.contact {
  display: flex;
  justify-content: space-around;
}

.contact-form {
  width: 50%;
}

label {
  color: #541213;
  font-weight: bold;
}

.form-control:focus {
  outline: none;
  border: 3px solid #541213;
}

textarea {
  resize: none;
  overflow: hidden;
}

.locatie-imagine {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.locatie-imagine img {
  width: 10%;
}

.form-label::after {
  content: " *";
  color: #f00;
}

#submit {
  width: 200px;
  padding: 2%;
  background-color: #541213;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  color: #fff;
}

#submit:hover {
  background-color: #6f1314;
  color: #fff;
}

#completat-corect {
  visibility: hidden;
  background-color: #fff;
  color: #541213;
  text-align: center;
}

#completat-corect.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#completat-gresit {
  visibility: hidden;
  background-color: #fff;
  color: #541213;
  text-align: center;
}

#completat-gresit.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* detalii produs */
.container-produs {
  padding: 5%;
  text-align: justify;
}

.container-produs h4 {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #541213;
}

.container-produs img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}

/* statistici */
.statistici .column {
  float: left;
  width: 25%;
  margin-top: 3%;
}

.statistici .row {
  margin: 0px 5px;
}

.statistici .row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #541213;
  color: #fff;
}

.fa {
  font-size: 50px;
}

/* media queries  */
@media only screen and (max-width: 800px) {
  .contact-form {
    width: 80%;
  }
  .locatie-imagine {
    display: none;
  }
  .statistici .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}
/*  */
.alert {
  margin: 2%;
  background-color: #f00;
  color: white;
  text-align: center;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
/* cont */

.buton-cont {
  background-color: #541213;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid #541213;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}

.buton-cont:hover {
  background-color: #6f1314;
  border: 1px solid #6f1314;
  font-weight: bold;
}

.cont-nou {
  width: auto;
  padding: 10px 18px;
  background-color: #541213;
}

.container-cont {
  margin: 4% 15%;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.contact-form label {
  color: #541213;
  font-weight: bold;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #541213;
  opacity: 0.8;
  z-index: 2;
  cursor: pointer;
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2em;
  color: #fff;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.cos-img {
  padding: 15%;
}

.cos-img img {
  border: 10px solid #541213;
  border-left-color: #f00;
  border-bottom-color: #f00;
  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
}

.cos-img img:hover {
  scale: 1.01;
  cursor: pointer;
}
