* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Merriweather, serif;
}

/* logo + navbar background color */
.logo,
.navbar {
  background-color: #541213;
}

/* navbar start */
#cafea-to-go,
#bauturi-calde,
#snack-bauturi-reci {
  color: #541213;
}

#cafea-to-go:hover,
#bauturi-calde:hover,
#snack-bauturi-reci:hover {
  background-color: #541213;
  color: #fff;
}

/* container to go - bauturi calde -  vitrine snack */
.container-automate {
  margin-top: 5%;
}

.container-logo-titlu {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.container-titlu {
  font-family: Galada, sans-serif;
  font-weight: bold;
  color: #541213;
}

.container-content {
  display: flex;
  flex-flow: row wrap;
  gap: 10%;
  justify-content: space-around;
  padding: 5%;
}

figcaption {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bold;
  text-transform: uppercase;
  color: #541213;
}

figure img {
  width: 180px;
  height: 300px;
}

.bauturi-calde img {
  width: 150px;
  height: 300px;
}

.buton {
  width: 180px;
  padding: 2%;
  background-color: #541213;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.buton:hover {
  background-color: #6f1314;
  color: #fff;
}

/* footer start */
footer {
  display: flex;
  flex-flow: row wrap;
  background-color: #541213;
  color: #fff;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  color: #fff;
}

footer p:first-child {
  text-transform: uppercase;
  font-weight: bold;
}

/* revizie tehnica - termeni si conditii - despre noi  */
.titlu-pagina {
  font-family: Galada, sans-serif;
  font-weight: bold;
  color: #541213;
}

.lista {
  padding: 5%;
}

.lista ul {
  list-style: none;
}

.lista ul li::before {
  content: "\2022";
  color: #541213;
  font-size: 1.5em;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.container-revizie-tehnica {
  display: flex;
  flex-flow: row wrap;
}

.container-noi {
  text-align: justify;
}
.container-noi img {
  float: left;
  width: 25%;
  margin-right: 5%;
}

.poza img {
  max-width: 300px;
}

/* contact */
.contact {
  display: flex;
  justify-content: space-around;
}

.contact-form {
  width: 50%;
}

.contact-form label {
  color: #541213;
  font-weight: bold;
}

textarea {
  resize: none;
  overflow: hidden;
}

.locatie-imagine {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.locatie-imagine img {
  width: 10%;
}

.form-label::after {
  content: " *";
  color: #f00;
}

#submit {
  width: 200px;
  padding: 2%;
  background-color: #541213;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

#submit:hover {
  background-color: #6f1314;
  color: #fff;
}

#completat-corect {
  visibility: hidden;
  background-color: #fff;
  color: #541213;
  text-align: center;
}

#completat-corect.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#completat-gresit {
  visibility: hidden;
  background-color: #fff;
  color: #541213;
  text-align: center;
}

#completat-gresit.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* detalii produs */
.container-produs {
  padding: 5%;
  text-align: justify;
}

.container-produs h4 {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #541213;
}

.container-produs img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}

/* statistici */
.statistici .column {
  float: left;
  width: 25%;
}

.statistici .row {
  margin: 0 5px;
}

.statistici .row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #541213;
  color: #fff;
}

.fa {
  font-size: 50px;
}

/* media queries  */
@media only screen and (max-width: 800px) {
  .contact-form {
    width: 80%;
  }
  .locatie-imagine {
    display: none;
  }
  .statistici .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}
